<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bulma</title>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/bulma/css/bulma.min.css">
    <link rel="stylesheet" href="css/app.css">
    {{!-- <link rel="stylesheet" href="css/debug.css"> --}}
  </head>
  <body>
    {{{ body }}}
  </body>
</html>
