{{!-- FLOORING HERO --}}
<section class="hero is-primary is-fullheight">
  <div class="flooring-hero"></div>
</section>

<section class="flooring-page">
  <div class="container">
    <div class="columns is-multiline">
      <div class="column is-12">
        <h1 class="title">Flooring</h1>
        <hr>
        <h3 class="subtitle">Endless Possibilities</h3>
      </div>
    </div>
    <div class="columns">
      <div class="column is-12">
        <p>Island Tile features a variety of products, including hardwoods, tile, (yes- even tile that looks like hardwoods) carpet,vinyl and laminate. The design combinations and styles are virtually limitless.</p>
      </div>
    </div>
  </div>
</section>

<section class="top-flooring section">
  <div class="container">
    <div class="columns">
      <div class="div column is-6">
        <figure class="image">
          <img src="/img/carpet_flooring.jpg" alt="">
        </figure>
        <div class="top-flooring__text">
          <h1 class="title">Carpet</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas in ligula id maximus. Nulla congue lobortis accumsan. Curabitur eu hendrerit risus. Pellentesque a commodo libero. In hac habitasse platea dictumst. Pellentesque tristique vehicula vulputate. Cras a magna ipsum. Nulla cursus quis velit a consectetur. Nam commodo ullamcorper turpis sit amet auctor. Nullam hendrerit dui vitae neque elementum eleifend.</p>
        </div>
      </div>
      <div class="div column is-6">
        <figure class="image">
          <img src="/img/laminate_flooring.jpg" alt="">
        </figure>
        <div class="top-flooring__text">
          <h1 class="title">Laminate</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas in ligula id maximus. Nulla congue lobortis accumsan. Curabitur eu hendrerit risus. Pellentesque a commodo libero. In hac habitasse platea dictumst. Pellentesque tristique vehicula vulputate. Cras a magna ipsum. Nulla cursus quis velit a consectetur. Nam commodo ullamcorper turpis sit amet auctor. Nullam hendrerit dui vitae neque elementum eleifend.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section middle-flooring">
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <figure class="image">
          <img src="http://via.placeholder.com/1624x656" alt="">
        </figure>
        <div class="middle-flooring__text has-text-center">
          <h1 class="title">Luxury Vinyl</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas in ligula id maximus. Nulla congue lobortis accumsan. Curabitur eu hendrerit risus. Pellentesque a commodo libero. In hac habitasse platea dictumst. Pellentesque tristique vehicula vulputate. Cras a magna ipsum. Nulla cursus quis velit a consectetur. Nam commodo ullamcorper turpis sit amet auctor. Nullam hendrerit dui vitae neque elementum eleifend. Morbi sit amet tortor eu velit tempor auctor in sed nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec lacinia urna nibh, sit amet viverra elit porta id. Donec vitae tincidunt ante, et imperdiet odio. Integer lacinia eu odio posuere consequat. Vivamus eleifend nisl eu augue pharetra, sed hendrerit quam condimentum. Nulla iaculis sem turpis, interdum molestie eros ultricies sed. Quisque quam est, tempus non libero sit amet, volutpat vulputate orci. Suspendisse potenti. Aenean eget nulla vitae elit tempor dapibus sed ac ante. Proin sed tempor purus. Cras semper auctor purus, at sollicitudin ipsum auctor vitae. Integer in suscipit neque. Vestibulum id dolor vel lectus convallis consequat. Sed eget pretium est.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="lower-flooring section">
  <div class="container">
    <div class="columns">
      <div class="div column is-6">
        <figure class="image">
          <img src="http://via.placeholder.com/812x656" alt="">
        </figure>
        <div class="lower-flooring__text">
          <h1 class="title">Hardwoods</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas in ligula id maximus. Nulla congue lobortis accumsan. Curabitur eu hendrerit risus. Pellentesque a commodo libero. In hac habitasse platea dictumst. Pellentesque tristique vehicula vulputate. Cras a magna ipsum. Nulla cursus quis velit a consectetur. Nam commodo ullamcorper turpis sit amet auctor. Nullam hendrerit dui vitae neque elementum eleifend.</p>
        </div>
      </div>
      <div class="div column is-6">
        <figure class="image">
          <img src="/img/tile_flooring.jpg" alt="">
        </figure>
        <div class="lower-flooring__text">
          <h1 class="title">Tile</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer egestas in ligula id maximus. Nulla congue lobortis accumsan. Curabitur eu hendrerit risus. Pellentesque a commodo libero. In hac habitasse platea dictumst. Pellentesque tristique vehicula vulputate. Cras a magna ipsum. Nulla cursus quis velit a consectetur. Nam commodo ullamcorper turpis sit amet auctor. Nullam hendrerit dui vitae neque elementum eleifend.</p>
        </div>
      </div>
    </div>
  </div>
</section>
