{{!-- HERO VIDEO SECTION --}}
<section class="hero is-fullheight video">
  <div class="hero-video">
    <video autoplay playsinline muted loop poster="">
      <source src="video/itmhero.mp4">
    </video>
  </div>
</section>

{{!-- QUICK VIEW SECTION --}}
<section class="section index-products has-text-centered">
<div class="container">
  <div class="columns is-multiline">
    <div class="column is-12">
        <h1 class="title">Quick View</h1>
        <hr>
        <h3 class="subtitle">Products & Services</h3>
    </div>
  </div>
  <div class="columns is-multiline">
    <div class="column is-6">
      <div class="card index-products__flooringbg">
        <a href="#" class="button is-outline">Flooring</a>
      </div>
    </div>
    <div class="column is-6">
      <div class="card index-products__installation">
        <a href="#" class="button is-outline">Installation</a>
      </div>
    </div>
    <div class="column is-6">
      <div class="card index-products__countertops">
        <a href="#" class="button is-outline">Countertops</a>
      </div>
    </div>
    <div class="column is-6">
      <div class="card index-products__backsplash">
        <a href="#" class="button is-outline">Backsplash</a>
      </div>
    </div>
    <div class="column is-6">
      <div class="card index-products__blinds">
        <a href="#" class="button is-outline">Blinds</a>
      </div>
    </div>
    <div class="column is-6">
      <div class="card index-products__accessory">
        <a href="#" class="button is-outline">Accssories</a>
      </div>
    </div>
    <div class="column">
      <div class="card index-products__designer">
        <h1>Ask Our Interior Designers</h1>
        <h6>How We Can Help You Design Your Next Remodel</h6>
      </div>
    </div>
  </div>
</div>
</section>

{{!-- SHOWROOM SECTION --}}
<section class="section showroom-text">
  <div class="container">
   <div class="columns">
     <div class="column has-text-centered">
       <h1 class="title">Visit Our New Showroom</h1>
       <hr>
       <h3 class="subtitle">All Your Favorite Products In One Place</h3>
       <p>We invite you to visit our beautiful 3,000 square foot showroom conveniently located in the middle of Ketchikan. Our highly customizable products demonstrate true quality and character that is suitable for all styles and trends. Products are being added to our website weekly, along with new samples arriving to our showroom for you experience personally.</p>

       <p>Whether it’s new construction, remodeling, or you’re the do-it-yourselfer; you’ll always find the right product and the best prices at Interiors by Island Tile.</p>
     </div>
   </div>
  </div>
</section>
<section class="showroom">
  <div class="container is-fluid">
    <div class="columns">
      <div class="column">
        <div class="card showroom__img" id="showroom-img">
          <div id="cf4a">
            <img src="/img/showroom_hero.jpg" alt="">
            <img src="/img/showroom_hero2.jpg" alt="" height="509px">
            <img src="/img/showroom_hero.jpg" alt="">
            <img src="/img/showroom_hero2.jpg" alt="" height="509px">
            <img src="/img/showroom_hero.jpg" alt="">
           </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- BRANDING LOGOS SECTION --}}
<section class="section brands">
  <div class="container">
   <div class="columns">
     <div class="column has-text-centered">
       <h1 class="title">Our Brands</h1>
       <hr>
       <h3 class="subtitle">All Your Favorite Products In One Place</h3>
     </div>
   </div>
  </div>
  <div class="container brands__container">
    <div class="columns is-multiline">
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/ao_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/as_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/bamboo_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/bea_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/cronin_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/dt_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/emser_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/hd_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/mann_brand.png" alt="" class="brands__top-spacing">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/mohawk_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/pt_brand.png" alt="">
        </figure>
      </div>
      <div class="column is-3">
        <figure class="image">
          <img src="/assets/img/ptq_brand.png" alt="" class="brands__top-spacing">
        </figure>
      </div>
    </div>
  </div>
</section>
