@import "../../vendor/bulma/sass/utilities/initial-variables";
@import "../../vendor/bulma/sass/utilities/functions";


// Island Tile & Marble Color Template

// Font variables

$latolight: LatoLight;
$latoreg: LatoReg;
$latomed: LatoMed;
$latobold: LatoBold;
$chapparral: Chapparral;
$oswaldbold: OswaldBold;
$oswaldlight: OswaldLight;
$oswaldreg: OswaldRegular;
$oswaldsentcil: OswaldStencil;


// Font Import

@font-face {
	font-family: LatoLight;
	src:url(../../fonts/Lato-Light.ttf)
}

@font-face {
	font-family: LatoReg;
	src:url(../../fonts/Lato-Regular.ttf)
}

@font-face {
	font-family: LatoMed;
	src:url(../../fonts/Lato-Medium.ttf)
}

@font-face {
	font-family: LatoBold;
	src:url(../../fonts/Lato-Bold.ttf)
}

@font-face {
	font-family: OswaldBold;
	src:url(../../fonts/Oswald-Bold.otf)
}

@font-face {
	font-family: OswaldLight;
	src:url(../../fonts/Oswald-Light.otf)
}

@font-face {
	font-family: OswaldRegular;
	src:url(../../fonts/Oswald-Regular.otf)
}

@font-face {
	font-family: OswaldStencil;
	src:url(../../fonts/Oswald-Stencil.otf)
}


// Header Font Settings

h1 {
	text-align: center;
	font-family: $latolight;
	font-size: 4rem;
	font-weight: 500;
}

h4 {
	text-align: center;
	color: #4a4a4a;
	font-family: $latoreg;
	font-size: 1.9rem;
	font-weight: 300;
}

h6 {
  font-size: 1.6rem;
}

// Paragraph Settings

p {
	font-family: $latolight;
	font-size: 1.2rem;
	color: #4a4a4a;
  padding: 1.4rem 5rem;
  text-align: center;
  font-weight: 600;
}







// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
//
//
// @font-face {
//   font-family: "Antonio";
//   src:url("../../fonts/antonio-regular.eot");
//   src: url('../../fonts/antonio-regular.eot?#iefix') format('embedded-opentype'), url('../../fonts/antonio-regular.woff2') format('woff2'), url('../../fonts/antonio-regular.woff') format('woff'), url('../../fonts/antonio-regular.ttf') format('truetype');
//   font-weight: normal;
//   font-style: normal;
// }
//
//
// // North Creative Color Template
//
// $ncgrey: #f1f2f2;
// $ncgreen: #7d8d44;
// $ncolive: #b9b76c;
// $ncteal: #78b7a0;
// $ncblue: #7299ad;
// $ncbrown: #b18a66;
// $ncbrownalt: #7e6f67;
// $ncgreyalt: #857f84;
// $nctextgrey: #5a5a5a;
// $ncfontfamilymain: "Source Sans Pro";
// $ncfontfamilysecondary: "Antonio";
//
//
// // North Creative Font Sizes
//
// $size-1: 2rem;
// $size-2: 1.563rem;
// $size-3: 1.5rem;
// $size-4: 1.375rem;
// $size-5: 1.125rem;
// $size-6: 1rem;
//
//
// $primary: $nctextgrey;
// $grey: $ncgrey;
// $family-primary: $ncfontfamilymain;
